services:
  backend:
    build:
      context: .
      dockerfile: backend/Dockerfile
    container_name: rag-backend
    volumes:
      - ./data/uploaded_files:/app/data/uploaded_files
    ports:
      - "${API_PORT:-8000}:${API_PORT:-8000}"
    env_file:
      - .env
    depends_on:
      - qdrant
    restart: always

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: rag-frontend
    ports:
      - "${FRONTEND_PORT:-5173}:80"
    depends_on:
      - backend
    restart: always

  qdrant:
    image: qdrant/qdrant:latest
    container_name: rag-vector-db
    ports:
     - "${QDRANT_API_PORT:-6333}:${QDRANT_API_PORT:-6333}"
     - "${QDRANT_GRPC_PORT:-6334}:${QDRANT_GRPC_PORT:-6334}"
    volumes:
      - qdrant_storage:/qdrant/storage
    restart: always

volumes:
  qdrant_storage:
    driver: local
